.wc-variation-swatches-preview  {
	width: 60px;
	height: 60px;
	text-align: center;
	font-weight: 700;
	border: 1px solid #ccc;
}
.wc-variation-swatches-button-container{
	display: flex;
	align-items: center;
	height: 60px;
}
