.wc-variation-swatches-preview  {
	width: 60px;
	height: 60px;
	text-align: center;
	font-weight: 700;
	border: 1px solid #ccc;
}
.wc-variation-swatches-button-container{
	display: flex;
	align-items: center;
	height: 60px;
}

#wc_variation_swatches_settings{
	.iris-picker.iris-border{
		min-width: 260px;
		min-height: 240px;
	}
}

.shape_style_heading, .tooltip_heading, .border_heading{
	display: flex;
	flex-flow: column;
	margin-bottom: 15px !important;

	th, td{
		padding: 0 !important;
	}

	label{
		font-size: 18px;
	}

	h2{
		width: 50% !important;
		position: absolute;
		padding: 5px !important;
	}
}
